.start-page-container {
    background-image: url('./../images/start-up-back.png');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 80px;
    .start-page-heading {
        padding-top: 105px;
        @include media-small-tablet {
            font-size: 34px !important;
            line-height: 50px !important;
        }
    }
    .start-page-info {
        padding-top: 20px;
    }
}
.home-page-form-container {
    padding: 56px;
    height: 100%;	
    width: 530px;	
    background-color: #FFFFFF;	
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 5px 0 rgba(0,0,0,0.1);
    @include media-large-tablet {
        width: 100%;
    }
    @include media-small-tablet {
        padding: 34px;
        width: 460px;
    }
    .progress-status-block {
        box-sizing: border-box;
        height: 40px;
        display: flex;
        width: 74px;
        border: 1px solid #CACACA;
        border-radius: 3px;
        background-color: #FFFFFF;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }
}
.form-font-size {
    .MuiSelect-select, input, .MuiFormControlLabel-label {
        font-size: 15px !important;
    }
}
.form-label {
    opacity: 70%;
}
.form-radio-group {
    .MuiFormControlLabel-label {
        font-weight: 600;
    }
}
.sign-up-form-container {
    padding: 40px 70px;
}
.password-eye {
    opacity: 50%;
    cursor: pointer;
}
.form-label-light-grey {
    label {
        font-size: 15px;
        &.MuiFormLabel-filled {
            color: #555555;
            opacity: 50%;
        }
    }
}
.accept-term-text {
    label {
        color: #000 !important;
        opacity: 100% !important;
    } 
}
.signup-image {
    height: 100%;
    min-height: 100vh;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    
    }
    @include media-small-tablet {
        display: none;
    }
}
.layout-drawer {
    a {
        font-size: 15px;
        color: #fff;
        text-decoration: none;
        svg {
            color: #fff;
            opacity: 70%;
        }
        &.active {
            .MuiListItem-button {
                background-color: #42BAF8;
            }
            svg {
                color: #fff;
                opacity: 100%;
            }
        }
    }
}
.sidebar-logo {
   display: flex;
   align-items: center;
   padding-left: 16px;
}
.sidebar-devider {
    background: rgba(255,255,255,0.1) !important;
}
.header-profile {
    padding-left: 58px;
    padding-top: 3px;
    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
}
.sign-up-page-logo {
    img {
        width: 200px;
        height: 49px;
    }
}
.home-left-width {
    max-width: 555px;
    @include media-small-tablet {
        margin-right: 10px;
    }
}