.application-tbl {
    table {
        border-collapse:separate; 
        border-spacing:0 10px; 
    }
    tbody {
        tr {
            th, td {
                border-bottom: 0 !important;
            }
            th:first-child {
                border-radius: 3px;
            }
            td:last-child {
                border-radius: 3px;
            }
            border-bottom: 0 !important;
            background-color: #fff;
            box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
            border-radius: 3px;
        }
    }
}