$colors: (
	light: #fff,
	dark: rgba(0, 0, 0, 0.87),
	light-grey: #555555,
	primary: #42baf8,
	secondary: #0d517b,
	warning: #d0372c,
	success: #00af7c,
	icon: #d6d6d6,
	border: #e0e0e0,
	body: #d6d6d6,
	yellow: #EEAE01,
	secondary-grey: #9da2af,
);
$maxLoop: 100;
$step: 5;
